# Node.js
node_modules/

# Compiled output
dist/

# Dependency directories
jspm_packages/
bower_components/

# VSCode specific files
.vscode/
*.code-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.vsix
